fastapi
uvicorn[standard]
sqlalchemy
pymysql
cryptography
alembic
pydantic
pydantic[email]
pydantic-settings
passlib[bcrypt]
bcrypt==4.0.1
python-jose[cryptography]
python-multipart
slowapi
python-magic-bin; platform_system == "Windows"
python-magic; platform_system != "Windows"
pytest
httpx
